reviewplace-result-container


/* 口コミを見る */
.makereview-wrapper{
    padding: 20px 30px;
    display: flex;
}
.makereview-sidebar{
    margin: 10px;
    padding: 20px;
    background-color: wheat;
    width: 20%;
    min-height: 500px;
    max-height: 500px;

}
.makeview-sidebar-title{
    font-size: 16px;
}

.makeview-sidebar-titles{
    font-size: 16px;
    margin:10px;
}
.makeview-sidebar-containers{
    margin:10px 20px;
    background-color: white;
}
.makeview-sidebar-map-container{
    margin:10px 20px;
    background-color: white;
    min-height: 200px;
}

/* 口コミを書く */

.findsick-main-wrapper{
    margin: 10px 100px;
    width: 80%; 
    min-height: 800px;
    padding: 30px;
    background-color: yellow;

}
.findsick-main-title{
    margin: 10px 0;
}
.findsick-main-sick-rank-container{
    margin: 10px 0;
    min-height: 200px;
    background-color: white;
}
.findsick-map-container{
    width: 100px;
    height: 100px;
    background-color: white;
}
