/* トップ画像 */
.main-header-inner-container{
    background-color: aqua;
    height: 450px;
}

/* 検索画面実装 */
.main-header-search-wrapper{
    position: relative;
}
.main-header-search-container{
    position: absolute;
    top: -55px;
    width: 100%;
    padding: 0 70px;

}
.main-header-search{
    background-color: cornsilk;
    border-radius: 3px;
    padding: 20px 140px;
    height: 110px;
    /* ボックスの影を作成する */
    /* https://wp-master.club/ */
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05); 
}
.main-header-search-form{
    background-color: blueviolet;
    height: 70px;  
}

/* メイン画面実装 */
.main-wrapper{
    margin-top: 55px;
    padding: 0 70px;
    
}

.main-wrappers{
    margin-top: 20px;
    padding: 10px;
}
.main-titles{
    font-size: 32px;
}

.main-containers{
    margin: 10px 140px;
    background-color: white;
    min-height: 200px;
}


/* 医療ニュース画面実装 */
.main-information-wrapper{
    margin-top: 100px;
    min-height: 285px;
    background-color: yellowgreen;
}

.main-information-container{
    margin: 10px auto;
    min-height: 220px;
    background-color: white;
}

/* 都道府県別画面実装 */
.main-prefetcure-wrapper{
    min-height: 285px;
    background-color: brown;

}
.main-prefecture-container{
    margin: 10px 140px;
    background-color: white;
    min-height: 200px;
}

/* 症状別画面実装 */
.main-sick-wrapper{
    
    min-height: 285px;
    background-color: blue;

}

/* 地図別画面実装 */
.main-map-wrapper{
    
    min-height: 600px;
    background-color: yellowgreen;

}
.main-map-container{
    margin: 10px 140px;
    background-color: white;
    min-height: 600px;

}
/* margin,paddingは調節ではなく、追加である */