/* 嵩張らないようにする設定 */
body{
    min-width: 900px;
}

.header-wrapper{
    width: 100%;
    margin: 0 auto;

}


@media screen and (min-width:767px) { 
    /*　画面サイズが480pxからはここを読み込む　*/
}
.top-header-innner{
    margin: 15px auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;

}
.title-logo{
    width: 20%;
    background-color: rosybrown;
}
.welcome-container{
    display: flex;
    justify-content: right;
    width: 40%;
  
}
.name-container{
    text-align: center;
}
 /* 上のヘッダーについて */
 /* https://teru1213.com/hover-css/ */
.top-list{
    width: 20%;
    text-align: center;
 
}

.top-list {
   
    font-weight: 800;
    text-align: center;
    list-style: none;
  }
  .top-list a{
    text-decoration: none;
    color: #222;
    width: 100%;
    display: block;
    position: relative;
   
  }
  .top-list a::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: "";
    width: 100%;
    height: 2px;
    background: #1aa697;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: transform 0.3s;
  }
  .top-list a:hover::after {
    transform: scale(1, 1);
  }
  .top-list a:hover {
    color: #1aa697;
  }
  .top-list span {
    font-family: "Nunito", sans-serif;
    font-size: 0.75em;
    line-height: 1.33;
    font-weight: normal;
    display: block;
  }



/* 下のヘッダーについて */

.header-link {
   
    font-weight: 800;
    line-height: 32px;
    text-align: center;
    list-style: none;
  }
  .header-link a{
    text-decoration: none;
    color: #222;
    width: 100%;
    display: block;
    position: relative;
   
  }
  .header-link a::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: "";
    width: 100%;
    height: 2px;
    background: #1aa697;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: transform 0.3s;
  }
  .header-link a:hover::after {
    transform: scale(1, 1);
  }
  .header-link a:hover {
    color: #1aa697;
  }
  .header-link span {
    font-family: "Nunito", sans-serif;
    font-size: 0.75em;
    line-height: 1.33;
    font-weight: normal;
    display: block;
  }




























.middle-header-container{
    line-height: 32px;
    background-color: grey;
    
}
.header-navgation{
    display: flex;
    justify-content: space-between;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
}
.header-link{
    text-align: center;
    border: 0.1px solid black;;
    width: 20%;

}



.header-link {
   
    font-weight: 800;
    line-height: 32px;
    text-align: center;
    list-style: none;
  }
  .header-link a{
    text-decoration: none;
    color: #222;
    width: 100%;
    display: block;
    position: relative;
   
  }
  .header-link a::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: "";
    width: 100%;
    height: 2px;
    background: #1aa697;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: transform 0.3s;
  }
  .header-link a:hover::after {
    transform: scale(1, 1);
  }
  .header-link a:hover {
    color: #1aa697;
  }
  .header-link span {
    font-family: "Nunito", sans-serif;
    font-size: 0.75em;
    line-height: 1.33;
    font-weight: normal;
    display: block;
  }






