/* 嵩張らないようにする設定 */
body{
    min-width: 900px;
}

.header-wrapper{
    width: 100%;
    margin: 0 auto;

}


@media screen and (min-width:767px) { 
    /*　画面サイズが480pxからはここを読み込む　*/
}
.top-header-innner{
    margin: 15px auto;
    padding: 0 70px;
    display: flex;
   
   

}
.title-logo{
    width: 20%;
}
.welcome-container{
    display: flex;
    width: 70%;
 
   
}


