/* 嵩張らないようにする設定 */
body{
    min-width: 900px;
}

.header-wrapper{
    width: 100%;
    margin: 0 auto;

}


@media screen and (min-width:767px) { 
    /*　画面サイズが480pxからはここを読み込む　*/
}
.top-header-innner{
    margin: 15px auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;

}
.title-logo{
    width: 20%;
    background-color: rosybrown;
}
.welcome-container{
    display: flex;
    justify-content: right;
    width: 40%;
  
}
.name-container{
    text-align: center;
}
 
.top-list{
    width: 20%;
    text-align: center;

 
}

.middle-header-container{
    line-height: 32px;
    background-color: grey;
    
}
.header-navgation{
    display: flex;
    justify-content: space-between;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
}
.header-link{
    text-align: center;
    border: 0.1px solid black;;
    width: 20%;

}






